*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Poppins";
    src: url(assets/font/Poppins/Poppins-Light.ttf);
}
body {
    background-color: white;
    padding: 0;
    margin: 0;
    font-family: "Poppins";
}

h1 {
    font-size: 50px;
    color: #FFFFFF;
}
p {
    font-size: 25px;
    color: #ffffff;
}

.text {
    text-align: center;
    font-family: "Poppins";
}

    

/*body*/
/*header*/
header {
    background-color: #000000;
    position: fixed;
    width: 100%;
}
.toplogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    color: #ffffff;
}
.logocontainer {
    display: flex;
    text-decoration: none;
    align-items: center;
}
#logocv {
    width: 10%;
    margin-right: 20px;
}
.logocontainer a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.navbar a {
    margin-right: 15px;
    text-decoration: none;
    transition: 0.88s ease;
    font-size: 15px;
    color: #ffffff;
}
.navbar a:hover {
    color: rgb(0, 0, 0);
    background-color:#DDE6ED;
    padding: 1rem;
}
/* dark mode toggle */
.darkmodecontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
#moonicon {
    width: 35px;
    cursor: pointer;
    color: #fff;
}
:root {
    --primary-color: #ffff;
    --secondary-color:#000000;
    --tertiary-color: #9DB2BF;
    --quaternary-color: #27374D;
}
.darktheme {
    --primary-color: #000000;
    --secondary-color:#ffff;
    --tertiary-color: #000000;
    --quaternary-color: #000000;
}

/* hamburger bar */
.hamburger {
    display: none;
    cursor: pointer;
}
.bar {
    background-color: rgb(255, 255, 255);
    transition: 0.88s ease;
    display: block;     /*supaya bar nya saling numpuk*/
    width: 30px;
    height: 3px;
    margin: 5px auto;
    border-radius: 2px;
}
@media screen and (min-width: 768px) {
    .hamburger {
        display: none;      /*on wide screen hides*/
    }
    .navbar {
        display: flex;     /*on wide screen shows*/
    }
}
@media screen and (max-width: 767px) {
    .hamburger {
        display: block;     /*on small screen shows*/
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
    }
    .navbar {
        /*on small screen hides*/
        /*masih mau direvisi*/
        display: flex;  
        justify-content: center;
        flex-direction: column;
        position: fixed;
        left: 0;
        transform: translatex(-100%);
        z-index: 10;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100vw;
        height: 100vw;
        text-align: center;
        transition: 0.55s;
    }
    .active {
        transform: translatex(0);
    }
    .active > a {
        font-size: 2rem;

    }
}

/*body*/
/*main*/
/*section home*/
.containerhome {
    background-color: rgba(0, 0, 0, 0.612);
    background-position: center;
    background-size: cover;
    margin-top: 70px;
    margin-bottom: 10%;
    border-radius: 20px;
}
.home {
    padding: 2%;
    border-radius: 10px;
}
#home {
    padding: 5%;
    text-align: center;
    background-image: url("assets/background\ home.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 768px) {
    .containerhome {
        margin-bottom: 20%;
        margin-top: 15%;
    }
    #home {
        padding-bottom: 5%;
    }
    h1 {
        font-size: 30px;
    }
    .hometext {
        font-size: 20px;
    }
}
@media only screen and (max-width: 400px) {
    .containerhome {
        margin-bottom: 20%;
        margin-top: 15%;
    }
    #home {
        padding-bottom: 5%;
    }
    .home {
        padding: 2%;
    }
    h1 {
        font-size: 25px;
    }
    .hometext {
        font-size: 15px;
        margin-top: 5px;
    }
}

/* section service */
#service {
    padding: 10%;
    background-color: var(--primary-color);
}
ul {
    list-style: none;
}
li {
    font-size: 35px;
    line-height: 1.3;
    margin-bottom: 2px;
    display: flex;
}
.listtext {
    color: var(--secondary-color);
    margin-left: 30px;
}
.list {
    color: var(--secondary-color);
}
.checklist {
    margin-right: 5px;
    font-size: 30px;
    color: #1f8ed3;
}
@media only screen and (max-width: 768px) {
    li {
        font-size: 28px;
        line-height: 1.3;
        margin-bottom: 2px;
    }
    .checklist {
        margin-right: 5px;
        font-size: 28px;
        color: #0f7abc;
    }
    .listtext {
        font-size: 22px;
    }
}
@media only screen and (max-width: 400px) {
    li {
        font-size: 20px;
        line-height: 1.3;
        margin-bottom: 2px;
    }
    .checklist {
        margin-right: 5px;
        font-size: 20px;
        color: #0f7abc;
    }
    .listtext {
        font-size: 15px;
    }
}

/* section our product */
#product {
    background-color: var(--tertiary-color);
    padding: 10%;
    align-items: center;
}
.product {
    color: #000000;
    text-align: center;
    font-size: 35px;
    margin-bottom: 5%;
}
#listproduct {
    display: grid;
    align-items: center;
    justify-content: space-between;

}

.productimg {
    padding: 2%;
    background-color: var(--primary-color);
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
}
.productimg > img {
    width: 100%;
    border-radius: 15px;
    align-items: center;
}
.productdesc {
    padding-top: 2%;
    color: var(--secondary-color);
}
.productdesc p {
    color: var(--secondary-color);font-size: 23px;

}
h2 {
    font-size: 35px;
    color: var(--secondary-color);
}
h3 {
    font-size: 28px;
    color: var(--secondary-color);
}



/*footer*/
/*section contact us*/
.contactus {
    padding: 65px 0 30px 0;
    background-color: var(--quaternary-color);
    justify-content: center;
    align-items: center;
}

/* section ratingsss */
.ratingform {
    background-color: var(--quaternary-color);
    padding: 10%;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}
.ratingform h2, p {
    color: #ffffff;
}
.ratinglabel {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    font-size: 0;
    position: relative;
}
.ratinglabel label {
    padding: 0;
    font-size: 50px;
    cursor: pointer;
}
.ratinglabel label:before {
    content: "\2606";
    padding-bottom: 8px;
    display: inline-block;
    transition: 0.5s;
}
.ratinglabel span {
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    height: 10px;
    width: 100%;
    font-size: 1rem;
    white-space: nowrap;
    transition: 0.25s ease-out;
    pointer-events: none;
    letter-spacing: -2px;
    transform: translateY(-50%);
}
.ratinglabel :hover span {
    opacity: 1;
    transform: none;
    letter-spacing: 0;
}

.ratinglabel  input:checked ~ label:before {
    content: "\2605";
    color: orange;
    filter: drop-shadow(0 0 4px);
    transform: rotate(.2turn);
}

/*section about us*/
.aboutus {
    background-color: #DDE6ED;
    padding: 20px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}