/* section our product */
#executive {
    background-color: var(--quinary-color);
    padding: 80px;
    align-items: center;
}
.executive {
    color: var(--secondary-color);
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
#listexecutive {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 25px;
    justify-content: center;
}

.executiveimg {
    padding: 15px;
    /* background-color: var(--tertiary-color); */
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.363);
    
}
.executiveimg > img {
    width: 100%;
    border-radius: 400px;
    align-items: center;
}
/* .imgonly {
    background-color: #ffffff;
} */
.executivedesc {
    margin-top: 10px;
    padding: 20px;
    color: var(--secondary-color);
    background-color: var(--quaternary-color);
    border-radius: 17px;
    text-align: center;
}
.executivedesc h3 {
    font-size: 25px;
    color: #ffffff;
}
.executivedesc p {
    color: #ffffff;
    font-size: 20px;
    margin-top: 7px;
}

.sosmedcontainer {
    display: flex;
    padding-top: 15px;
    gap: 12px;
    justify-content: center;
    align-items: center;
}
.sosmedcontainer img {
    width: 35px;
    height: 35px;
}
/* nyoba srcset in dark mode tapi ntar nyoba lagi
.executivedesc a img {
    filter: invert(1);
}
@media (prefers-color-scheme: dark) {
    .executivedesc a img {
        filter: invert(0);
    }
} */


@media only screen and (max-width: 768px) {
    #executive {
        padding: 70px 25px 25px 25px;
    }
    #listexecutive {
        grid-gap: 15px;
        align-items: center;
    }
    .executiveimg {
        width: 100%;
    }
    .executivedesc h3 {
        font-size: 20px;
    }
    .executivedesc p {
        font-size: 17px;
    }
}

@media only screen and (max-width: 400px) {
    #executive {
        padding: 70px 20px 20px 20px;
    }
    #listexecutive {
        align-items: center;
    }
    .executiveimg {
        width: 100%;
    }
    .executivedesc h3 {
        font-size: 20px;
    }
    .executivedesc p {
        font-size: 17px;
    }
}