/*footer*/
/* section ratingsss */
.ratingform {
    background-color: var(--quaternary-color);
    padding: 35px;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}
.ratingform h2 {
    font-size: 35px;
}
.ratingform h2, p {
    color: #ffffff;
}
.ratinglabel {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    font-size: 0;
    position: relative;
}
.ratinglabel label {
    padding: 0;
    font-size: 50px;
    cursor: pointer;
}
.ratinglabel label:before {
    content: "\2606";
    padding-bottom: 8px;
    display: inline-block;
    transition: 0.5s;
}
.ratinglabel span {
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    height: 10px;
    width: 100%;
    font-size: 1rem;
    white-space: nowrap;
    transition: 0.25s ease-out;
    pointer-events: none;
    letter-spacing: -2px;
    transform: translateY(-50%);
}
.ratinglabel :hover span {
    opacity: 1;
    transform: none;
    letter-spacing: 0;
}

.ratinglabel  input:checked ~ label:before {
    content: "\2605";
    color: orange;
    filter: drop-shadow(0 0 4px);
    transform: rotate(.2turn);
}

/* section address */
.address h2 {
    font-size: 35px;
}

.address {
    background-color: var(--quaternary-color);
    padding: 20px 35px 20px 35px;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}
.addressdesc {
    padding-top: 15px;
    color: var(--secondary-color);
    background-color: var(--quaternary-color);
    border-radius: 17px;
    text-align: center;
}
.addressdesc p {
    font-size: 17px;
}

/*section about us*/
.aboutus {
    background-color: #DDE6ED;
    padding: 20px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}