/* section our product */
#product {
    background-color: var(--quaternary-color);
    padding: 80px 35px 35px 35px;
    align-items: center;
}
.product {
    color: #ffffff;
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
}
#listproduct {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    grid-gap: 25px;
    padding-bottom: 3rem;
}

.productimg {
    padding: 15px;
    background-color: var(--tertiary-color);
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
}
.productimg > img {
    width: 100%;
    border-radius: 15px;
    align-items: center;
}
.productdesc {
    padding-top: 15px;
    color: var(--secondary-color);
}
.productdesc p {
    color: var(--secondary-color);
    font-size: 23px;

}
.product h2 {
    font-size: 30px;
    color: var(--secondary-color);
}
.productdesc h3 {
    font-size: 28px;
    color: var(--secondary-color);
}
@media only screen and (max-width: 768px) {
    #product {
        padding: 70px 20px 20px 20px;
    }
    .productimg {
        width: 100%;
    }

    .productdesc h3 {
        font-size: 25px;
    }
    .productdesc p {
        font-size: 20px;
    }
}
@media only screen and (max-width: 400px) {
    #product {
        padding: 70px 20px 20px 20px;
    }
    #listproduct {
        grid-gap: 15px;
        align-items: center;
    }

    .productimg {
        width: 320px;
    }
    .productdesc h3 {
        font-size: 20px;
    }
    .productdesc p {
        font-size: 18px;
    }
}